<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Sand Garden Games</title>
	
	<!--Main Stylesheet-->
	<link rel="stylesheet" href="/static/games/css/styles.css">
	<link rel="stylesheet" href="/static/games/css/buttons.css">
	<link rel="stylesheet" href="/static/games/css/vicons-font.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	
	<!--Bootstrap-->
	<link rel="stylesheet" href="/static/games/css/bootstrap.min.css">
		
		

</head>


<body>
	
	<div class="container">
		
		<div id="frontLargeTitle" class="row">
			 
			<span>Sand Garden</span>
			 
		</div>
		
		<div id="frontSmallTitle" class="row">
			 
			<span class="main">A <span style="color:#FFB040">Nima Samiei</span> and <span style="color:#FFB040">Vishal Shangari</span> production.</span>
			 
		</div>
		
		<div id="frontButtons" class="row">
			
			<div class="col-md-3">
				
				<button class="button button--itzel button--text-thick"><i class="button__icon icon icon-pin"></i><span>Express Checkout</span></button>				
			</div>
			<div class="col-md-3">
				
			</div>
			<div class="col-md-3">
				
			</div>
			<div class="col-md-3">
				
			</div>
			
			
		</div>
		
	</div>
	
	<!--jQuery-->
	<script src="/static/games/js/jquery-2.2.4.min.js"></script>

	<!--Main JS-->
	<script src="/static/games/js/scripts.js">
		
	<!--Bootstrap JS-->
	<script src="/static/games/js/bootstrap.min.js"></script>
	
</body>

</html>
